.btn-redirecionar{
    padding: 8px 16px;
    width: 220px;
    height: 48px;
    color: #efe9e5;
    background-color: #ec7000;
    border-radius: 4px;
    border: 1px solid #dd6100;
    box-sizing: border-box;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
    cursor: pointer;

}